header, main, footer {
    padding-left: 300px;
  }
  
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .wrapping{

    padding-left:320px;

  }

  .album_title_list{
    display:grid;
    grid-template-columns: 1fr 1fr;
    overflow:auto;
  }